.body {
    -fx-background-color: #202020;
    -fx-border-radius: 12, 12, 12, 12;
    -fx-background-radius: 12 12 12 12;
}

.pane-1 {
    -fx-background-color: #2b2b2b;
    -fx-border-radius: 10, 10, 10, 10;
    -fx-background-radius: 10, 10, 10, 10;
    -fx-effect: dropshadow(gaussian, #101010, 15, 0.5, 0.5, 0.5);
}

.pane-1:hover {
    -fx-pref-width: 185;
    -fx-effect: dropshadow(gaussian, #000000, 20, 0.5, 0.5, 0.5);
}

.button-1 {
    -fx-border-radius: 10, 10, 10, 10;
}

.button-1:hover {
    -fx-pref-width: 85;
    -fx-pref-height: 28;
}

.button-2 {
    -fx-border-radius: 10, 10, 10, 10;
}

.button-2:hover {
    -fx-pref-width: 65;
    -fx-pref-height: 21;
}

.text_v1 {
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #ffffff;
    -fx-border-style: none;
}

.separator .line {
    -fx-background-color: #393939;
    -fx-pref-height: 1;
    -fx-border-color: null ;
}